<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
</head>
<body>
    <h1>Todo List</h1>
    <ul>
        {% for task in tasks %}
            <li{% if task.completed %} style="text-decoration: line-through;"{% endif %}>
                {{ task.title }}
                <a href="{% url 'task_complete' task.id %}">Complete</a>
                <a href="{% url 'task_delete' task.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <hr>
    <a href="{% url 'task_add' %}">Add Task</a>
</body>
</html>
